body{
    background-color: #2e2e2e;
}

#PlayAgain{
    position: relative;
    top: -420px
}

.background{

    display: flex;
    justify-content: center;
    
    width: 700px;
    height: 300px;
    border: solid white;
    border-radius: 40px;
    margin-top: 5%;
    background-size: 700px 300px;
    background-image: url("/img/backGround.webp")
    ;
}

.wrapBar{
    border : 2px solid white;
    display: flex;
    height: 30px;
    width: 154px;
    justify-content: left;
    align-items: center;
}
.bar{
    background-color: black;
    height: 20px;
    width: 145px;
    border: solid;
    margin-left: 2px;
}

button{
    color: white;
    background-color: grey;
    border-color: white;
    border-radius: 50%;
    height: 60px;
    width: 100px;
}

button:hover{
 background-color: rgb(70, 70, 70);
}

.flexWrap{
    position: relative;
    margin: 20px 0  0 0;
    display: flex;
    justify-content: center;
    height: 70px;
    gap:70px;
    margin-bottom: 350px;
}
.label{
    color: white;
}
#snakeImg{
display: flex;
width: 200px;
margin-top: 30%;
margin-left: 10%;

}

.hidden{
    display: none;
}